@import '../../template/template-page';
@import '../../modules/form-selection/form-selection';
@import '../../modules/air-datepicker/datepicker.scss';

// body {
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   background-color: #F4F4F6;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
// }

.page-screen {
    margin: 0 auto;
    height: 830px;
    background: url('../../images/background.jpg') center no-repeat;
    width: 1440px;
    display: flex;
    justify-content: center;
  }

.screen {
  width: 1160px;
  display: flex;
  padding-top: 70px;
  padding-bottom: 18px;
  flex-direction: column;
  justify-content: space-between;

  &__offer-region {
      display: flex;
      justify-content: flex-end;
  }

  &__offer-text {
    width: 297px;
    text-align: right;
    color: $DarkShade75;
  }
}

@media screen and (max-width: 1140px) {
  
.page-screen {
    width: 100%;    
}

.screen {
  width: 80%;
}
}