extends ../../template/template-page

block meta
  meta(name="keywords", content="toxin, landing page")
  meta(name="description" content="Учебный проект FSD. Второе задание. Лист Landing page")

block title
  | 
  = 'Landing Page'

block screen
  include ../../modules/form-selection/form-selection.pug

  main.page-screen
    section.screen
      .screen__form-regon
        +form-selection()
      .screen__offer-region
        p.screen__offer-text= offerText
