@import '../common.scss';
@import '../../modules/logo/logo.scss';


body {
    width: 100%;
}

.free-space {
    content: '';
}

.elements {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    &__logo {
        padding-left: 30px;
        padding-top: 33px;

    }

    &__column {
        flex-basis: 320px;
    }

    &__column:first-child {
        padding-left: 9.8%;
    }

    &__column:last-child {
        padding-right: 9.8%;
    }

    &__block-color-wrap {
        padding-bottom: 13px;
    }
}



.block-color {
    position: relative;
    height: 70px;
    padding-left: 110px;
    padding-top: 7px;
    color: $DarkShade100;



    &__example {
        position: absolute;
        top: 0;
        left: 0;
        height: 70px;
        width: 70px;
        border-radius: 6px;
    }

    &__title {
        margin: 0;
        padding: 0;
        line-height: 29px;
    }

    &__hex-color {
        margin: 0;
        padding: 0;
        font-family: Quicksand;
        font-size: 19px;
        text-transform: uppercase;
        line-height: 29px;
    }


}