.social {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;

  &__item-link {
    text-decoration: none;
  }

  &__item {
    padding-right: 23px;
  }

  &__item:last-child {
    padding-right: 0;
  }
}