mixin social(props={})
  //- Блок иконок социальных сетей
  //- Принимает объект props с ключами
  //- mods    {string} модификаторы через запятую
  //- socialList 

  -
    const {mods, socialList} = props
    let allMods = ''
    if (typeof(mods) !== 'undefined' && mods) {
    let modList = mods.split(',')
    for (let i=0; i < modList.length; i++) {
      allMods = allMods + ' social_' + modList[i].trim()
      }
    }

  ul.social(class = allMods)
    each icon in socialList
      - const {link, name} = icon
      li.social__item
        a.social__item-link(href = link)
          span.social__item-icon.fab(class= name )
