@import '../room-details/room-details';
@import '../rate-button/rate-button';

.card-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.25rem;
  box-shadow: 0px 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
  background: #FFFFFF;
  padding-bottom: 1.1875rem;
  width: 16.875rem;

  &__section {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &__image {
    min-width: 100%;
    min-height: 100%;
  }

  &__controls {
    display: flex;
    position: absolute;
    top: 3.75rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    color: white;
  }

  &__slider-button_prev {
    transform: rotate(90deg);
    cursor: pointer;
  }
  &__slider-button_next {
    transform: rotate(-90deg);
    cursor: pointer;
  }

  &__slider-radio {
    position: absolute;
    right: 0.3125rem;
    bottom: 0.9375rem;
    cursor: pointer;
  }

  &__select-label {
    cursor: pointer;
  }

  &__input {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }


  &__select-marker{
    // position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border: 0.0625rem solid white;
  }

  &__input:checked + &__select-marker {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
  }

  &__room-details {
    padding-top: 0.625rem;
    width: 14.625rem;
   }

  &__separator {
    margin: 0.375rem 0;
    border: none;
    background-color: $DarkShade10;
    width: 100%;
    height: 0.0625rem;
    color: $DarkShade10;
  }

  &__room-rating {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 0.3125rem 0 0.3125rem;
    width: 14.625rem;
  }

  &__commentsAmmount {
    margin: 0;
    padding-top: 0.3125rem;
    vertical-align: center;
    line-height: 1.5rem;
  }

  &__commentsAmmountNum {
    color: $DarkShade50;
    font-weight: bold;
    font-style: normal;
  }
}