@import '../room-details/room-details';
@import '../rate-button/rate-button';

.card-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 0px 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
  background: white;
  padding-bottom: 16px;
  width: 16.875rem;
  overflow: hidden;

  &__section {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &__image {
    min-width: 100%;
    min-height: 100%;
  }

  &__controls {
    display: flex;
    position: absolute;
    top: 3.875rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    // width: 230px;
    color: white;
    user-select: none;
    left: 0.625rem;
    right: 0.625rem;


    box-shadow: 0px 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
  }

  &__slider-button_prev {
    transform: rotate(90deg);
    cursor: pointer;
  }
  &__slider-button_next {
    transform: rotate(-90deg);
    cursor: pointer;
  }

  &__slider-radio {
    position: absolute;
    right: 0.875rem;
    bottom: 0.9375rem;
    cursor: pointer;
    user-select: none;
  }

  &__select-label {
    cursor: pointer;
  }

  &__input {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }


  &__select-marker{
    box-sizing: border-box;
    // position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border: 0.0625rem solid white;
  }

  &__input:checked + &__select-marker {
    box-sizing: border-box;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
  }

  &__room-details {
    padding-top: 0.625rem;
    width: 14.625rem;
   }

  &__separator {
    margin: 0.375rem 0;
    border: none;
    background-color: $DarkShade10;
    width: 100%;
    height: 0.0625rem;
    color: $DarkShade10;
  }

  &__room-rating {
    // margin-top: 2px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    width: 14.625rem;
  }

  &__commentsAmmount {
    margin: 0;
    // padding-top: 5px;
    vertical-align: center;
    line-height: 24px;
  }

  &__commentsAmmountNum {
    color: $DarkShade50;
    font-weight: bold;
    font-style: normal;
  }
}

@media screen and (max-width: 1160px) {
  card-room {
    width: 29%;
  }
}