.card-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  background: #FFFFFF;
  padding-bottom: 19px;
  width: 270px;

  &__section {
    position: relative;
  }

  &__controls {
    display: flex;
    position: absolute;
    top: 60px;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    color: white;
  }

  &__slider-button_prev {
    transform: rotate(90deg);;
  }
  &__slider-button_next {
    transform: rotate(-90deg);
  }

  &__slider-radio {
    position: absolute;
    right: 5px;
    bottom: 15px;
  }

  &__room-details {
    width: 234px;
  }

  &__room-rating {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 5px 0 5px;
    width: 234px;
  }
}