include ../room-details/room-details.pug
include ../rate-button/rate-button.pug

mixin card-room(props={})
  //- Карточка номера
  //- Принимает объект props с ключами
  //- mods          {string}  модификаторы через запятую
  //- roomImageSrc  {string}  адрес изображения
  //- roomNumber    {string}  номер комнаты
  //- roomType      {string}  тип номера
  //- roomRate      {string}  рейтинг номера

  -
    const {imageSrc, roomNumber, roomRate, roomType, commentsAmmount, commentsAmmountText, roomPrice, mods, moduleClass} = props
    let allMods = ''
    if (typeof(mods) !== 'undefined' && mods) {
    let modList = mods.split(',')
    for (let i=0; i < modList.length; i++) {
      allMods = allMods + ' card-room_' + modList[i].trim()
      }
    }

  form.card-room(class = allMods, data-room= roomNumber)
    .card-room__section
      img.card-room__image(
        src = imageSrc || './images/room-888.jpg',
        alt = roomNumber)

      .card-room__controls
        span.card-room__slider-button.card-room__slider-button_prev expand_more
        span.card-room__slider-button.card-room__slider-button_next expand_more

      .card-room__slider-radio()
        label.card-room__select-label
          input.card-room__input(type = 'radio', name = roomNumber || 'room-slider', value = '1', checked)
          span.card-room__select-marker
        label.card-room__select-label
          input.card-room__input(type = 'radio', name = roomNumber || 'room-slider', value = '2')
          span.card-room__select-marker
        label.card-room__select-label
          input.card-room__input(type = 'radio', name = roomNumber || 'room-slider', value = '3')
          span.card-room__select-marker
        label.card-room__select-label
          input.card-room__input(type = 'radio', name = roomNumber || 'room-slider', value = '4')
          span.card-room__select-marker
  
    .card-room__room-details
      +room-details({
        roomNumber: roomNumber,
        roomType: roomType,
        price: roomPrice,
        mods: 'litle-title'
      })

      hr.card-room__separator(noshade = "noshade")
    .card-room__room-rating
      +rate-button({
        rate: roomRate
      })
      p.card-room__commentsAmmount
        em.card-room__commentsAmmountNum= commentsAmmount
        |
        = commentsAmmountText
