.rich-checkbox {
  box-sizing: border-box;
  position: relative;
  
  user-select: none;
  display: inline-block;
  cursor: pointer;


  &__wrapper {
    margin: 0;
    padding: 0;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 1rem;

  }

  &__item {
    padding: 0;
    margin: 0;
    padding-bottom: 0.5625rem;
  }

  &__item:last-child {
    padding-bottom: 0;
  }

  &__description {
    margin: 0;
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: $DarkShade50;
    padding-left: 1.875rem;
    padding-top: 0.4375rem;
  }
}