.icon-text {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-left: 3.625rem;
  user-select: none;
  cursor: pointer;

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    @extend %MaterialIcon;
    line-height: 3rem;
    font-size: 3rem;
    
    background: $PrimaryGradient;
    background-clip: text;
    color: transparent;
  }

  &__lineTitle {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  &__description {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

}