mixin icon-text(props={})

  //- Текст с иконкой
  //- Принимает объект props с ключами:
  //- moduleClass             string      доп имя класса
  //- mods                    string      модификации
  //- icon                    string      иконка из шрифта material icons
  //- lineTitle               string      Заголовок текста
  //- description             string      описание

    Пример вызова
      +icon-text({
        icon: 'star',
        lineTitle: 'Комфорт',
        description: 'внимательные сотрудники'
      })

  -
    const {mods, icon, lineTitle, description} = props
    let allMods = ''
    if (typeof(mods) !== 'undefined' && mods) {
    let modList = mods.split(',')
    for (let i=0; i < modList.length; i++) {
      allMods = allMods + ' icon-text_' + modList[i].trim()
      }
    }
  .icon-text(class= allMods)
    span.icon-text__icon= icon
    h3.icon-text__lineTitle= lineTitle || ''
    p.icon-text__description= description || ''
