.icon-text {
  position: relative;
  width: 100%;
  padding-left: 58px;
  user-select: none;
  cursor: pointer;

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    @extend %MaterialIcon;
    line-height: 48px;
    font-size: 48px;
    
    background: $PrimaryGradient;
    background-clip: text;
    color: transparent;
  }

  &__lineTitle {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
  }

  &__description {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
  }

}