.icon-text {
    position: relative;
    width: 100%;
    padding-left: 58px;

    &__icon {
        position: absolute;
        top: 0;
        left: 0;

        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 48px;
        /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
        /* Support for IE. */
        font-feature-settings: 'liga';


        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        background-clip: text;
        // -webkit-background-clip: text;
        color: transparent;
    }

    &__lineTitle {
        margin: 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
    }

    &__description {
        margin: 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
    }

}