mixin logo(props={})

  //- Логотип
  //- Принимает параметры в props:
  //- mods  string      модификации
                grey    серый и только круг

    Примеры использования
    +logo({mods: 'gray'})

  -
    const {mods} = props
    let allMods = ''
    let objectSvgString = './images/logo.svg'
    if (typeof(mods) !== 'undefined' && mods) {
    let modList = mods.split(',')
    for (let i=0; i < modList.length; i++) {
      if (modList[i].trim() === 'gray') {
        objectSvgString = './images/gray-logo.svg'
      }
      allMods = allMods + ' logo_' + modList[i].trim()
      }
    }
  .logo(class= moduleClass + allMods)
    object.logo__svg(
      data= objectSvgString,
      type="image/svg+xml"
      )

