$DarkShade100: rgba(31, 32, 65, 1);
$DarkShade75: rgba(31, 32, 65, 0.75);
$DarkShade50: rgba(31, 32, 65, 0.5);
$DarkShade25: rgba(31, 32, 65, 0.25);
$DarkShade10: rgba(31, 32, 65, 0.1);
$DarkShade5: rgba(31, 32, 65, 0.05);

$Purple: #BC9CFF;
$Green: #6FCF97;

$PrimaryGradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$GreenGradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);