extends ../../template/template-page

append vars
  -
    const roomCard888 = ['./images/room-888-1.jpg','888','5','Люкс','145',' Отзывов','9 999₽']
    const roomCard840 = ['./images/room-840-1.jpg','840','4','','65',' Отзывов','9 900₽']
    const roomCard980 = ['./images/room-980-1.jpg','980','3','Люкс','35',' Отзывов','8 500₽']
    const roomCard856 = ['./images/room-856-1.jpg','856','5','','19',' Отзывов','7 300₽']
    const roomCard740 = ['./images/room-740-1.jpg','740','4','','44',' Отзывов','6 000₽']
    const roomCard982 = ['./images/room-982-1.jpg','982','3','','56',' Отзывов','5 800₽']
    const roomCard678 = ['./images/room-678-1.jpg','678','5','','45',' Отзывов','5 500₽']
    const roomCard450 = ['./images/room-450-1.jpg','450','4','','39',' Отзывов','5 300₽']
    const roomCard350 = ['./images/room-350-1.jpg','350','3','','77',' Отзывов','5 000₽']
    const roomCard666 = ['./images/room-666-1.jpg','666','5','','25',' Отзывов','5 000₽']
    const roomCard444 = ['./images/room-444-1.jpg','444','3','','15',' Отзывов','5 000₽']
    const roomCard352 = ['./images/room-352-1.jpg','352','3','','55',' Отзывов','5 000₽']

    const roomsList = [roomCard888,roomCard840,roomCard980,roomCard856,roomCard740,roomCard982,roomCard678,roomCard450,roomCard350,roomCard666,roomCard444,roomCard352]

block meta
  meta(name="keywords", content="toxin, search room")
  meta(name="description" content="Учебный проект FSD. Второе задание. Лист Search room")

block title
  | 
  = 'Search Room'

block screen
  //- Include section
  include ../../modules/filter-date-dropdown/filter-date-dropdown.pug
  include ../../modules/dropdown/dropdown.pug
  include ../../modules/range-slider/range-slider.pug
  include ../../modules/checkbox-buttons/checkbox-buttons.pug
  include ../../modules/rich-checkbox-buttons/rich-checkbox-buttons.pug
  include ../../modules/expandable-checkbox-list/expandable-checkbox-list.pug
  include ../../modules/pagination/pagination.pug
  include ../../modules/card-room/card-room.pug

  //- Page section
  main.screen
    aside.screen-aside
      .screen-aside__element.screen-aside__element_shot-padding
        h3.screen-aside__element-title даты пребывания в отеле
        +filter-date-dropdown({
          moduleID: 'filter-date-picker'
        })

      .screen-aside__element
        h3.screen-aside__element-title Гости
        +dropdown({
            moduleClass: 'dropdown-visitors',
            isBtnClear: true,
            isBtnSubmit: true,
            dropStrings: [
              {lineTitle: 'ВЗРОСЛЫЕ', maxCount: '5'},
              {lineTitle: 'ДЕТИ', maxCount: '5'},
              {lineTitle: 'МЛАДЕНЦЫ', maxCount: '5',isCountSeparate: true,namingForCount: 'младенец,младенца,младенцев'}
            ],
            namingForAll: 'гость,гостя,гостей',
            namingForEmpty: 'Сколько гостей'
            })

      .screen-aside__element.screen-aside__element_range
        +range-slider({
          lineTitle: 'диапазон цены',
        })
        p.screen-aside__slider-description Стоимость за сутки пребывания в номере

      .screen-aside__element
        +checkbox-buttons({
            listTitle: 'Дополнительные условия', 
            moduleClass: 'check-list-buttons',
            dropStrings: [
              {dataName: 'checkbox-smoking',labelTitle: 'Можно курить'},
              {dataName: 'checkbox-pets',labelTitle: 'Можно с питомцами',checked: true},
              {dataName: 'checkbox-guests',labelTitle: 'Можно пригласить гостей (до 10 человек)',checked: true},
              ]
            })

      .screen-aside__element.screen-aside__element_add-conditions
        +rich-checkbox-buttons({
            listTitle: 'Доступность',
            listStrings: [
              {labelTitle: 'Широкий коридор',labelDiscription: 'Ширина коридоров в номере не менее 91 см.',moduleClass: 'rich-checkbox-test'},
              {labelTitle: 'Помощник для инвалидов',labelDiscription: 'На 1 этаже вас встретит специалист  и проводит до номера.',moduleClass: 'rich-checkbox-test'}
            ]
          })

      .screen-aside__element.screen-aside__element_envarenment
        h3.screen-aside__element-title Удобства номера
        +dropdown({
          moduleClass: 'dropdown-envarenment',
          isBtnClear: false,
          isBtnSubmit: false,
          dropStrings: [
            {lineTitle: 'СПАЛЬНИ', maxCount: '2',isCountSeparate: true,namingForCount: 'спальня,спальни,спален'},
            {lineTitle: 'КРОВАТИ', minCount: '1', maxCount: '4',isCountSeparate: true,namingForCount: 'кровать,кровати,кроватей'},
            {lineTitle: 'ВАННЫЕ КОМНАТЫ', maxCount: '2',isCountSeparate: true,namingForCount: 'ванная комната,ванных комнаты,ванных комнат'}
          ],
          namingForAll: '',
          namingForEmpty: 'Выбрать удобства'
          })

      .screen-aside__element
        +expandable-checkbox-list({
          listTitle: 'Дополнительные удобства', 
          moduleClass: 'check-list-test',
          dropStrings: [
            {dataName: 'checkbox-breakfast',labelTitle: 'Завтрак'},
            {dataName: 'checkbox-table',labelTitle: 'Письменный стол',checked: true},
            {dataName: 'checkbox-childChair',labelTitle: 'Стул для кормления',checked: true},
            {dataName: 'checkbox-childBed',labelTitle: 'Кроватка',checked: true},
            {dataName: 'checkbox-TV1',labelTitle: 'Телевизор'},
            {dataName: 'checkbox-showerGel1',labelTitle: 'Шампунь'},
            {dataName: 'checkbox-TV2',labelTitle: 'Игровая приставка'},
            {dataName: 'checkbox-showerGel2',labelTitle: 'Ополаскиватель'}
          ]
        })

    article.screen-cards
      header.screen-cards__header-wrapp
        h1.screen-cards__title Номера, которые мы для вас подобрали
      section.screen-cards__filter-result

        -
          let i = 0
          let index = 0
        while i < roomsList.length / 3
          .screen-cards__row-cards

            -
              i = i + 1
              let j = 0
            while j < roomsList.length / 4
              - 
                
                const [imageSrc,roomNumber,roomRate,roomType,commentsAmmount,commentsAmmountText,roomPrice] = roomsList[index++]
                j = j + 1

              .screen-cards__room-card
                +card-room({
                  imageSrc: imageSrc,
                  roomNumber: roomNumber,
                  roomRate: roomRate,
                  roomType: roomType,
                  commentsAmmount: commentsAmmount,
                  commentsAmmountText: commentsAmmountText,
                  roomPrice: roomPrice
                })

      .screen-cards__pagination
        +pagination()
        p.screen-cards__pagination-description 1 – 12 из 100+ вариантов аренды
        


