@import '../../template/template-page.scss';
@import '../../modules/card-room/card-room.scss';
@import '../../modules/checkbox-buttons/checkbox-buttons.scss';
@import '../../modules/dropdown/dropdown.scss';
@import '../../modules/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../../modules/filter-date-dropdown/filter-date-dropdown';
@import '../../modules/pagination/pagination';
@import '../../modules/range-slider/range-slider';
@import '../../modules/rich-checkbox-buttons/rich-checkbox-buttons';


.screen {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  // flex-grow: 1;

}

.screen-aside {
  display: flex;
  flex-direction: column;
  max-width: 266px;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 30px;

  &__element {
    width: 100%;
    padding-bottom: 30px;
  }

  &__element_shot-padding {
    padding-bottom: 20px;
  }

  &__element-title {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
  }

  &__slider-description {
    font-size: 12px;
  }
  
}

.screen-cards {
  display: flex;
  flex-direction: column;
  padding-top: 30px;

  &__title {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
  }

  &__filter-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &__row-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
  }

  &__room-card {
    padding-bottom: 12px;
    padding-right: 20px;
  }

  &__room-card:last-child {
    padding-bottom: 0px;
    padding-right: 0px;
  }

  &__pagination {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 69px;
    width: 241px;
  }
}

