extends ../../template/template-page

block meta
  meta(name="keywords", content="toxin, search room")
  meta(name="description" content="Учебный проект FSD. Второе задание. Лист Search room")

block title
  | 
  = 'Search Room'

block screen
  //- Include section
  include ../../modules/filter-date-dropdown/filter-date-dropdown.pug
  include ../../modules/dropdown/dropdown.pug
  include ../../modules/range-slider/range-slider.pug
  include ../../modules/checkbox-buttons/checkbox-buttons.pug
  include ../../modules/rich-checkbox-buttons/rich-checkbox-buttons.pug
  include ../../modules/expandable-checkbox-list/expandable-checkbox-list.pug
  include ../../modules/pagination/pagination.pug
  include ../../modules/card-room/card-room.pug

  //- Page section
  main.screen
    aside.screen-aside
      +filter-date-dropdown()

    article.screen-cards
      header.screen-cards__header-wrapp
        h1.screen-cards__title Номера, которые мы для вас подобрали
      section.screen-cards__filter-result
        .screen-cards__filter-column
          +card-room({
            imageSrc: './images/room-888.jpg',
            roomNumber: '888',
            roomRate: '5',
            roomType: 'Люкс',
            commentsAmmount: '145',
            commentsAmmountText: ' отзывов',
            roomPrice: '9 999₽'
          })
        .screen-cards__filter-column
          +card-room({
            imageSrc: './images/room-888.jpg',
            roomNumber: '888',
            roomRate: '5',
            roomType: 'Люкс',
            commentsAmmount: '145',
            commentsAmmountText: ' отзывов',
            roomPrice: '9 999₽'
          })
        .screen-cards__filter-column
          +card-room({
            imageSrc: './images/room-888.jpg',
            roomNumber: '888',
            roomRate: '5',
            roomType: 'Люкс',
            commentsAmmount: '145',
            commentsAmmountText: ' отзывов',
            roomPrice: '9 999₽'
          })
      .screen-cards__pagination
        +pagination()


