@import '../../template/template-page.scss';
@import '../../modules/card-room/card-room.scss';
@import '../../modules/checkbox-buttons/checkbox-buttons.scss';
@import '../../modules/dropdown/dropdown.scss';
@import '../../modules/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../../modules/filter-date-dropdown/filter-date-dropdown';
@import '../../modules/pagination/pagination';
@import '../../modules/range-slider/range-slider';
@import '../../modules/rich-checkbox-buttons/rich-checkbox-buttons';
@import '../../modules/air-datepicker/datepicker.scss';


.screen {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 72.5rem;
}

.screen-aside {
  display: flex;
  flex-direction: column;
  max-width: 16.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 1.875rem;
  flex-shrink: 1;

  &__element {
    width: 100%;
    padding-bottom: 30px;
  }

  &__element_shot-padding {
    padding-bottom: 20px;
  }

  &__element-title {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
  }

  &__element_range {
    padding-bottom: 22px;
  }

  &__element_add-conditions{
    padding-bottom: 22px;
  }

  &__slider-description {
    font-size: 0.75rem;
  }

  &__element_envarenment {
    padding-bottom: 17px;
  }
  
}

.screen-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 1.875rem;
  

  &__title {
    padding: 0;
    margin: 0;
    padding-bottom: 1.25rem;
  }

  &__filter-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &__row-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
  }

  &__room-card {
    padding-bottom: 24px;
    padding-right: 1.4%;
  }

  &__room-card:last-child {
    padding-bottom: 0;
    padding-right: 0;
  }

  &__pagination {

    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 4.3125rem;
    width: 245px;
  }

  &__pagination-description {
    padding: 0;
    padding-top: 8px;
    margin: 0;
  }
}


@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

}

@media screen and (max-width: 1150px) {
  html {
    font-size: 12px;
  }

}

@media screen and (max-width: 900px) {
  html {
    font-size: 16px;
  }

  .screen {
    width: 90%;
  }

  .screen-cards {

    &__title {
      // width: 90%;
      text-align: center;
    }

    &__row-cards {
      flex-direction: column;
      align-items: center;
    }
    
  }

}

@media screen and (max-width: 700px) {
  .screen {
    justify-content: center;
    flex-wrap: wrap;
  }
}
