mixin radio-buttons(props={})

  //- radio-button с label
  //- Данные для JS храняться в атрибутах Data
  //- 
  //- Принимает объект props с ключами:
  //- radioButtonsSet         string      обязательное название
  //- mods                    string      модификации
  //- labelTitle              string
  //- buttonsList             {object}    список радио кнопок
  //-     buttonTitle         {string}    название кнопки
  //-     buttonValue         {string}    переменная
  //-     checked             true/false  состояние

    Пример вызова
    +radio-buttons({
          labelTitle: 'RADIO BUTTONS',
          radioButtonsSet: 'radio-battons-test',
          buttonsList: [
            {buttonTitle: 'Мужчина',
            buttonValue: 'man',
            checked: true},
            {buttonTitle: 'Женщина',
            buttonValue: 'woman'}
            ]
          })

  -
    let moduleClass = props.moduleClass || ''
    let allMods = ''
    if (typeof(props.mods) !== 'undefined' && props.mods) {
    let modList = props.mods.split(',')
    for (let i=0; i < modList.length; i++) {
      allMods = allMods + ' radio-buttons_' + modList[i].trim()
      }
    }

  .radio-buttons(class = moduleClass + allMods)
    each buttonString, index in props.buttonsList
      label.radio-buttons__label
        input.radio-buttons__input(
          type  = 'radio',
          name  = props.radioButtonsSet,
          value = buttonString.buttonValue,
          checked = (typeof(buttonString.checked) !== 'undefined' && buttonString.checked) ? buttonString : false
          )
        span.radio-buttons__marker
        |
        = buttonString.buttonTitle

  //- .radio-buttons(class = moduleClass + allMods)
  //-   header.radio-buttons__title-wrapper
  //-     h3.radio-buttons__title= props.labelTitle ? props.labelTitle : ''
  //-   .radio-buttons__button-wrapper

  //-     each buttonString, index in props.buttonsList
  //-       label.radio-buttons__label
  //-         input.radio-buttons__input(
  //-           type  = 'radio',
  //-           name  = props.radioButtonsSet,
  //-           value = buttonString.buttonValue,
  //-           checked = (typeof(buttonString.checked) !== 'undefined' && buttonString.checked) ? buttonString : false
  //-           )
  //-         span.radio-buttons__marker
  //-         |
  //-         = buttonString.buttonTitle

