mixin radio-buttons(props={})

    //- radio-button с label
    //- Данные для JS храняться в атрибутах Data
    //- 
    //- Принимает параметры в props:
    //- moduleClass             string      имя класса
    //- mods                    string      'open' - открыто меню
    //- labelTitle              string
    //- buttonsList             {object}
    //-     buttonTitle         {string}
    //-     buttonValue         {string}
    //- attrs:                  {object}
    //-     name:               {string}
    //- ...
    //- 
    //- 


    -
        let moduleClass = props.moduleClass
        let allMods = ''
        if (typeof(props.mods) !== 'undefined' && props.mods) {
        let modList = props.mods.split(',')
        for (let i=0; i < modList.length; i++) {
            allMods = allMods + ' radio-button_' + modList[i].trim()
            }
        }

    .radio-button(class = moduleClass + allMods)
        .radio-button__title-wrapper
            p.radio-button__section-title= (typeof(props.labelTitle) !=='undefined' && props.labelTitle) ? props.labelTitle : ''
        
        .radio-button__button-wrapper
            each buttonString, index in props.buttonsList
                label.radio-button__button-label(name = moduleClass)
                    input.radio-button__input(
                        type = 'radio',
                        name = moduleClass,
                        value = buttonString.buttonValue
                    )&attributes(props.attrs)
                    .radio-button__marker
                    span.radio-button__button-title= buttonString.buttonTitle

