mixin like-button(props={})

  //- like-button с label
  //- Данные для JS храняться в атрибутах Data
  //- 
  //- Принимает параметры в props:
  //- moduleClass             string      имя класса
  //- dataName                string      имя для data-name
  //- mods                    string      'open' - открыто меню
  //- labelTitle              string      
  //- attrs:                  {object}
  //-     name:               {string}
  //- ...
  //- 
  //- 


  -
    let allMods = ''
    if (typeof(props.mods) !== 'undefined' && props.mods) {
    let modList = props.mods.split(',')
    for (let i=0; i < modList.length; i++) {
      allMods = allMods + ' like-button_' + modList[i].trim()
      }
    }

  label.like-button(
    class = allMods,
    name = props.dataName || 'like-button'
    )
    input.like-button__input(
      type='checkbox',
      name = props.dataName || 'like-button',
      checked = props.checked || false
    )
    span.like-button__marker
    p.like-button__title= props.labelTitle

