.like-button {
  position: relative;
  user-select: none;
  width: 100%;
  display: block;
  cursor: pointer;
  padding-left: 20px;
  color: $DarkShade25;
  font-size: 9px;
  line-height: 20px;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__marker {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 1.125rem;
    border-radius: 10px;
    border: 1px solid $DarkShade25;

    color: $DarkShade25;
    font-size: 9px;
    line-height: 18px;
    padding-left: 20px;
  }

  &__marker::before {
    position: absolute;
    left: 4px;
    content: "favorite_border";
    color: $DarkShade25;
    @extend %MaterialIcon;
    font-size: 10px;
    line-height: 18px;
  }

  &__input:checked + &__marker {
    border: 1px solid $Purple;
    color: $Purple;
  }

  &__input:checked + &__marker::before {
    content: "favorite";
    color: $Purple;
  }

  &__input:focus + &__marker {
    box-shadow: 0 0 0 1px $Purple;
  }
}