mixin test-slider

    .container
      span#rs-bullet.rs-label 0 - 200
      .range-slider
        .lines
          .gray-line
          .green-line
        input#range-right.rs-range(type='range', value='200', min='0', max='200')
        input#range-left.rs-range(type='range', value='0', min='0', max='200')
    