.range-slider {
    position: relative;
    height: 12px;

    &__axis {
        position: absolute;
        width: 100%;
        top: 4px;
        height: 4px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 10px;
    }

    &__select {
        z-index: 1;
        position: absolute;
        top: 4px;
        bottom: 3px;
        left: 0%;
        right: 0%;
        height: 6px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }

    &__range-left {
        z-index: 2;
        height: 12px;
        width: 12px;
        position: absolute;
        left: 0%;
        top: -1px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border: 2px solid #FFFFFF;
        border-radius: 10px;
    }

    &__range-right {
        z-index: 2;
        height: 12px;
        width: 12px;
        position: absolute;
        right: 0%;
        top: -1px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border: 2px solid #FFFFFF;
        border-radius: 10px;
    }

}