mixin range-slider(props={})

    //- checkbox с label
    //- Данные для JS храняться в атрибутах Data
    //- 
    //- Принимает параметры в props:
    //- moduleClass             string      имя класса
    //- mods                    string      'open' - открыто меню
    //- rangeLeft               string      Граница значений слева
    //- rangeRight              string      Граница значений справа
    //- maxValue                string      

    -
        let moduleClass = (props.moduleClass) ? props.moduleClass : ''
        let allMods = ''
        if (typeof(props.mods) !== 'undefined' && props.mods) {
        let modList = props.mods.split(',')
        for (let i=0; i < modList.length; i++) {
            allMods = allMods + ' rate-button_' + modList[i].trim()
            }
        }

    .range-slider(
        class= moduleClass + allMods,
        data-max-value = props.maxValue,
        data-range-left = props.rangeLeft,
        data-range-right = props.rangeRight
        )
        .range-slider__axis
        .range-slider__select
        a.range-slider__range-left(href= '#')
        a.range-slider__range-right(href= '#')