include ../masked-text-field/masked-text-field

mixin date-dropdown(props = {})

  //- Получает параметры:
  //- mods			string		Модификаторы через запятую
  //- placeholder		stgring		Placeholder
  //- attrs			object		

  -

    let allMods = ''
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      let modList = props.mods.split(',')
      for (let i=0; i < modList.length; i++) {
        allMods = allMods + ' date-dropdown_' + modList[i].trim()
      }
    }

  .date-dropdown
    +masked-text-field({
      maskType: 'date',
      placeholder: props.placeholder || 'ДД.ММ.ГГГГ'
    })
    span.date-dropdown__marker expand_more