mixin navigation(props = {})
  //- Принимает объект props с ключами
  //- mods      {string}  модификаторы
  //- itemsList {string}  список пунктов или списков
  //-   subList {string}

  -
    let moduleClass = props.moduleClass || ''
    let allMods = ''
    if (typeof(props.mods) !== 'undefined' && props.mods) {
    let modList = props.mods.split(',')
    for (let i=0; i < modList.length; i++) {
      allMods = allMods + ' navigarion_' + modList[i].trim()
      }
    }

  nav.navigation
    +navigation-items(props.itemsList)



      



mixin navigation-items(props = {})

  each item in props

    -
      let allMods = ''
      let sub = false
      if (typeof(item.mods) !== 'undefined' && item.mods) {
      let modList = item.mods.split(',')
      for (let i=0; i < modList.length; i++) {
        if (modList[i].trim() === 'sub') {
          sub = true
        }
        allMods = allMods + ' navigation__item_' + modList[i].trim()
        }
      }


    li.navigation__item(class= allMods)
      a.navigation__item-link(href = item.link)= item.item
      if sub 
        span.navigation__item-marker expand_more
