.navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
  

  &__item {
    padding-right: 28px;
    font-size: 14px;
  }

  &__item_sub {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding-right: 20px;
  }

  &__item_active &__item-link{
    font-weight: bold;
    color: $DarkShade75;
  }

  &__item-link {
    color: $DarkShade50;
    text-decoration: none;
  }

  &__item-marker {
    color: $DarkShade50;
  }

  &__item_active &__item-marker {
    color: $DarkShade75
  }
}