

.text-field {
    width: calc(100% - 15px - 2px);
    height: 42px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding: 0;
    padding-left: 15px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

%hover-focus {
    border: 1px solid rgba(31, 32, 65, 0.50);
}

.text-field:hover {
    @extend %hover-focus;
}

.text-field_focused {
    @extend %hover-focus;
}

.text-field::placeholder {
    color: red;
}