mixin text-field(props = {})
	
	//- Принимает:
	//- props {
	//- mods: '' 			string список модификаторов через запятую
	//- placeholder: '' 	string
	//- attrs: 				object атрибуты для input
	//- 	type:			string - если нет, то text
	//- 	name: ''		string name для формы	
	//- }

	-
		let allMods = '';
		if (typeof(props.mods !== 'undefined') && props.mods) {
			let modList = props.mods.split(',');
			for (let i = 0; i < modList.length; i++) {
				allMods = allMods + ' text-field_' + modList[i].trim();
			}
		}

	input.text-field(class = allMods, placeholder = props.placeholder, type = (typeof(props.attrs) !== 'undefined' && props.attrs.type) ? props.attrs.type : 'text')&attributes(props.attrs)






