mixin text-field(props = {})

	//- Получает объект props с ключами:
	//- mods					string		модификаторы через запятую
	//- placeholder		stgring		Placeholder

		Пример вызова
		+text-field({placeholder: 'Email'})

	-
		const {mods, placeholder, moduleClass} = props
		let allMods = ''
		if (typeof(mods) !== 'undefined' && mods) {
			let modList = mods.split(',')
			for (let i=0; i < modList.length; i++) {
				allMods = allMods + ' text-field_' + modList[i].trim()
			}
		}

	input.text-field(
		class = (moduleClass || '') + allMods,
		placeholder = placeholder : '',
		type= 'text'
		)







