mixin text-field(props = {})

	//- Получает объект props с ключами:
	//- mods					string		модификаторы через запятую
	//- placeholder		stgring		Placeholder


	-
		let allMods = ''
		if (typeof(props.mods) !== 'undefined' && props.mods) {
			let modList = props.mods.split(',')
			for (let i=0; i < modList.length; i++) {
				allMods = allMods + ' text-field_' + modList[i].trim()
			}
		}

	input.text-field(
		class = allMods,
		placeholder = props.placeholder : '',
		type= 'text'
		)







