.dropdown {
    position: relative;
    width: calc(100% - 15px - 15px - 2px);
    padding: 0 0.9375rem;
    height: 2.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid $DarkShade25;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;

    &__selection {
        color: $DarkShade75;
        cursor: pointer;
    }

    &__menu {
        position: absolute;
        z-index: 1999;
        top: 2.625rem;
        left: -0.0625rem;
        padding: 0px 0px 0.625rem 0.9375rem;
        width: calc(100% - 0.9375rem);

        border: 1px solid $DarkShade50;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: white;
    }

    &__menu-row {
        display: flex;
        width: 100%;
        padding-top: 0.3125rem;
        padding-bottom: 0.0625rem;
        cursor: default;
    }

    &__menu-row_buttons {
        padding-top: 1.1875rem;
    }

    &__line-title {
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 1.875rem;
        margin: 0;
        flex-grow: 1;
    }

    &__controls {
        display: flex;
        padding-right: 0.3125rem;
        flex-basis: 1.875rem;
        align-items: center;
        justify-content: space-between;
    }

    &__control-count {
        height: 1.875rem;
        width: 2rem;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 1.875rem;
        text-align: center;
    }

    &__icon-decrement {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    &__icon-increment {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.875rem;
    }

    &__control-button {
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        border: 1px solid $DarkShade25;
        text-align: center;
        cursor: pointer;

    }

    &__control-button:hover {
        background-color: $DarkShade5;
    }

    &__button-clear {
        cursor: pointer;
    }

    &__separator {
        flex-grow: 1;
    }

    &__button-submit {  
        padding-right: 0.375rem;
        cursor: pointer;
    }

    &__marker {
        @extend %MaterialIcon;
    }
}

.dropdown_open {
    border: 1px solid $DarkShade50;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.dropdown .dropdown__menu {
    display: none;
}

.dropdown_open .dropdown__menu {
    display: block;
}