.dropdown {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 0 0.5375rem 0 0.9375rem;
  height: 2.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid $DarkShade25;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;

  &__selection {
    color: $DarkShade75;
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    top: 2.625rem;
    left: -0.0625rem;
    z-index: 1999;
    border: 1px solid $DarkShade50;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 10px 20px $DarkShade5;
    background-color: white;
    padding: 0px 0px 0.375rem 0.9375rem;
    width: calc(100% - 0.9375rem);
  }

  &__menu-row {
    display: flex;
    cursor: default;
    padding-top: 0.375rem;
    padding-bottom: 0.0625rem;
    width: 100%;
  }

  &__menu-row_buttons {
    padding-top: 0.875rem;
  }

  &__line-title {
    flex-grow: 1;
    margin: 0;
    line-height: 1.875rem;
    font-size: 0.75rem;
    font-weight: bold;
  }

  &__controls {
    display: flex;
    flex-basis: 1.875rem;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.3125rem;
  }

  &__control-count {
    font-family: Montserrat;
    width: 2rem;
    height: 1.875rem;
    text-align: center;
    line-height: 1.875rem;
    font-size: 0.75rem;
    font-weight: bold;
    color: $DarkShade100;
  }

  &__icon-decrement {
    line-height: 1.75rem;
    font-family: Montserrat;
    font-size: 1.125rem;
  }

  &__icon-increment {
    line-height: 1.875rem;
    font-family: Montserrat;
    font-size: 1.125rem;
  }

  &__control-button {
    border: 1px solid $DarkShade25;
    border-radius: 50%;
    cursor: pointer;
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
  }

  &__control-button:hover {
    background-color: $DarkShade5;
  }

  &__button-clear {
    cursor: pointer;
  }

  &__separator {
    flex-grow: 1;
  }

  &__button-submit {
    padding-right: 0.375rem;
    cursor: pointer;
  }

  // Открытие-закрытие
  &_open {
    border: 1px solid $DarkShade50;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  & &__menu {
    display: none;
  }

  &_open &__menu {
    display: block;
  }
}
