.dropdown {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    width: calc(100% - 15px - 15px - 2px);
    height: 42px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;

    &__selection {

        margin: 0;
        padding: 0;
        color: rgba(31, 32, 65, 0.75);
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        cursor: pointer;

        position: relative;

    }

    &__mark {}

    &__menu {
        border: 1px solid rgba(31, 32, 65, 0.50);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;

        width: calc(100% - 15px);
        position: absolute;
        top: 42px;
        left: -1px;
        padding: 0px 0px 10px 15px;
    }

    &__menuRow {
        display: flex;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 1px;
        cursor: default;
    }

    &__menuRow_btn {
        padding-top: 19px;
    }

    &__lineTitle {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 30px;
        margin: 0;
        flex-grow: 1;
    }

    &__controls {
        display: flex;
        padding-right: 5px;
        flex-basis: 30px;
        align-items: center;
        justify-content: space-between;
    }

    &__controlCount {
        height: 30px;
        width: 32px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 30px;

        text-align: center;
    }

    &__iconDecrement {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
    }

    &__iconIncrement {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
    }

    &__controlBtn {
        height: 28px;
        width: 28px;
        border-radius: 50%;
        border: 1px solid rgba(31, 32, 65, 0.25);
        text-align: center;
        cursor: pointer;

    }

    &__controlBtn:hover {
        background-color: rgba(31, 32, 65, 0.05);
    }

    &__btnClear {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);
        cursor: pointer;
    }

    &__btnSeparate {
        flex-grow: 1;
    }

    &__btnSubmit {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #BC9CFF;
        padding-right: 6px;
        cursor: pointer;
    }


}

.dropdown_open {
    border: 1px solid rgba(31, 32, 65, 0.50);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.dropdown .dropdown__menu {
    display: none;
}

.dropdown_open .dropdown__menu {
    display: block;
}