@import '../common.scss';
@import '../../modules/bullet-list/bullet-list.scss';
@import '../../modules/buttons/buttons.scss';
@import '../../modules/checkbox-buttons/checkbox-buttons';
@import '../../modules/comment/comment.scss';
@import '../../modules/date-dropdown/date-dropdown.scss';
@import '../../modules/dropdown/dropdown';
@import '../../modules/expandable-checkbox-list/expandable-checkbox-list';
@import '../../modules/filter-date-dropdown/filter-date-dropdown.scss';
@import '../../modules/icon-text-list/icon-text-list.scss';
@import '../../modules/icon-text/icon-text.scss';
@import '../../modules/like-button/like-button';
@import '../../modules/logo/logo.scss';
@import '../../modules/masked-text-field/masked-text-field.scss';
@import '../../modules/pagination/pagination.scss';
@import '../../modules/radio-buttons/radio-buttons';
@import '../../modules/range-slider/range-slider';
@import '../../modules/rate-button/rate-button';
@import '../../modules/rich-checkbox-buttons/rich-checkbox-buttons';
@import '../../modules/subscription-text-field/subscription-text-field.scss';
@import '../../modules/text-field/text-field.scss';
@import '../../modules/toggle/toggle';



body {
  width: 100%;
}

.free-space {
  content: '';
}

.elements {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;

  &__logo {
    padding-top: 35px;
    padding-left: 23px;
  }

  &__column {
    flex-basis: 320px;
  }

  &__column:nth-child(2) {
    padding-left: 3.6%;
  }

  &__column:first-child {
    padding-left: 9.3%;
  }

  &__column:last-child {
    padding-right: 10.3%;
  }

  &__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__half-column {
    width: 50%;
  }

  &__half-column:last-child {
    display: flex;
    justify-content: flex-end;
  }
}

.elements:last-of-type {
  justify-content: flex-start;

}

.elements:last-of-type .elements__column:last-child {
  padding-left: 10%;
}



.block-lib {
  padding-bottom: 21px;

  &__description-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__block-row {
    padding-top: 5px;
  }

  &__title {
    // font-family: Montserrat;
    // font-style: normal;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    line-height: 15px;
    font-size: 12px;
    font-weight: bold;
  }

  &__mods {
    // font-family: Montserrat;
    // font-style: normal;
    // font-weight: normal;
    text-align: right;
    line-height: 15px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1300px) {
  .elements {
    justify-content: space-around;

    &__column:nth-child(2) {
      padding: 0;
    }

    &__column:first-child {
      padding: 0;
    }

    &__column:last-child {
      padding: 0;
    }

    &__column {
      padding: 0;
      padding-right: 0;
      padding-left: 0;
      // display: flex;
      // align-items: center;
      // justify-content: center;

    }
  }
}

@media screen and (max-width: 1000px) {
  .elements {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  body {
    margin: 0 auto;
    padding: 0;
    width: 90%;
  }

}