@import '../common.scss';
@import '../../modules/logo/logo.scss';
@import '../../modules/text-field/text-field.scss';
@import '../../modules/masked-text-field/masked-text-field.scss';
@import '../../modules/dropdown/dropdown';
@import '../../modules/date-dropdown/date-dropdown.scss';
@import '../../modules/expandable-checkbox-list/expandable-checkbox-list';
@import '../../modules/checkbox-buttons/checkbox-buttons';
@import '../../modules/rich-checkbox/rich-checknox';
@import '../../modules/radio-buttons/radio-buttons';
@import '../../modules/field-toggle/field-toggle';
@import '../../modules/like-button/like-button';
@import '../../modules/rate-button/rate-button';
@import '../../modules/range-slider/range-slider.css';
@import '../../modules/buttons/buttons.scss';
@import '../../modules/icon-text/icon-text.scss';
@import '../../modules/icon-text-list/icon-text-list.scss';
@import '../../modules/bullet-list/bullet-list.scss';
@import '../../modules/comment/comment.scss';
@import '../../modules/pagination/pagination.scss';
@import '../../modules/subscription-text-field/subscription-text-field.scss';
@import '../../modules/filter-date-dropdown/filter-date-dropdown.scss';


body {
    width: 100%;
}

.free-space {
    content: '';
}

.elements {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    &__logo {
        padding-left: 30px;
        padding-top: 33px;

    }

    &__column {
        flex-basis: 320px;
    }

    &__column:nth-child(2) {
        padding-left: 3.5%;
    }

    &__column:first-child {
        padding-left: 9.8%;
    }

    &__column:last-child {
        padding-right: 9.8%;
    }

    &__container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__half-column {
        width: 50%;
    }



    &__half-column:last-child {
        display: flex;
        justify-content: flex-end;
    }
}



.block-lib {
    padding-bottom: 21px;

    &__description-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    &__block-row {
        padding-top: 5px;
    }

    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: left;
    }

    &__mods {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
    }
}

@media screen and (max-width: 1300px) {
    .elements {
        justify-content: space-around;
        
        &__column {
            padding-left: 0;
            padding-right: 0;
            padding: 0;
            margin: 0 auto;
        }
    }
}


@media screen and (max-width: 400px) {
    body {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }

}