@import '../../modules/radio-buttons/radio-buttons.scss';
@import '../../modules/toggle/toggle.scss';
@import '../../modules/text-field/text-field.scss';
@import '../../modules/masked-text-field/masked-text-field.scss';
@import '../../modules/buttons/buttons.scss';

.form-registration {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 380px;

  &__section {
    margin: 0 auto;
    padding-top: 20px;
    width: 320px;
  }

  &__item {
    padding-bottom: 10px;
  }

  &__item_radio-button {
    padding-bottom: 0;
    width: 220px;
  }

  &__item_toggle {
    padding-bottom: 4px;
  }

  &__title {
    margin: 0;
    text-transform: none;
  }


  &__sub-title {
    margin: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  &__login-wrapper {
    width: 99px;
  }

  &__section_login {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}