include ../../modules/radio-buttons/radio-buttons
include ../../modules/toggle/toggle
include ../../modules/text-field/text-field
include ../../modules/masked-text-field/masked-text-field
include ../../modules/buttons/buttons

mixin form-registration(props={})

  -
    let moduleClass = (props.moduleClass) ? props.moduleClass : ''
    let allMods = ''
    if (typeof(props.mods) !== 'undefined' && props.mods) {
    let modList = props.mods.split(',')
    for (let i=0; i < modList.length; i++) {
      allMods = allMods + ' form-registration_' + modList[i].trim()
      }
    }

  form.form-registration(class = moduleClass + allMods)
    header.form-registration__section
      h1.form-registration__title Регистрация аккаунта
    
    .form-registration__section
      .form-registration__item
        +text-field({placeholder: 'Имя'})
      .form-registration__item
        +text-field({placeholder: 'Фамилия'})
      .form-registration__item.form-registration__item_radio-button
        +radio-buttons({
          radioButtonsSet: 'radio-battons-test',
          buttonsList: [
            {buttonTitle: 'Мужчина',
            buttonValue: 'man',
            checked: true},
            {buttonTitle: 'Женщина',
            buttonValue: 'woman'}
            ]
          })

    .form-registration__section
      h3.form-registration__sub-title День рождения
      +masked-text-field({
          placeholder: 'ДД.ММ.ГГГ',
          maskType: 'date'})
    .form-registration__section
      h3.form-registration__sub-title Данные для входа в сервис
      .form-registration__item
        +text-field({placeholder: 'Email'})
      .form-registration__item
        +text-field({placeholder: 'Пароль'})
      .form-registration__item.form-registration__item_toggle
        +toggle({
            labelTitle: 'Получать спецпредложения',
            moduleClass: 'field-toggle-test',
            checked: false
            })

    .form-registration__section
      .form-registration__item
        +buttons({
            lineTitle: 'Перейти к оплате',
            mods: 'full, arrow, big'
            })
    .form-registration__section.form-registration__section_login
      p.form-registration__invite Уже есть аккаунт на Toxin
      .form-registration__login-wrapper
        +buttons({
            lineTitle: 'Войти',
            mods: 'border'
            })