extends ../../template/template

block title
    | Ui Page

block main
    h1 Hello Pug
    include ../../modules/text-field/text-field
    +text-field({placeholder: 'email'})
    +text-field({mods: 'focused'})