extends ../../template/template

mixin block-lib(props)

    //- Получает данные:
    //- title       string  Заголовок - название элемента
    //- mods        string  Описание модификатора
    //- width       string  Ширина в виде 'XXpix'
     
    .block-lib(style="width:"+props.width)
        .block-lib__description-row
            .block-lib__title= props.title
            .block-lib__mods= props.mods
        .block-lib__block-row
            block


block title
    | Ui Page

block main
    h1.page__header UI kit for FSD 2
    p.page__description Webpack + pug + scss + JS

    //- импорт всех блоков UI набора
    include ../../modules/text-field/text-field
    include ../../modules/dropdown/dropdown
    include ../../modules/field-checkbox/field-checkbox
    include ../../modules/exp-checkbox-list/exp-checkbox-list
    include ../../modules/checkbox-list/checkbox-list
    include ../../modules/rich-checkbox/rich-checkbox
    include ../../modules/radio-buttons/radio-buttons
    include ../../modules/field-toggle/field-toggle
    include ../../modules/like-button/like-button
    include ../../modules/rate-button/rate-button
    include ../../modules/range-slider/range-slider
    include ../../modules/button-block/button-block
 


    //- ------------------------------------------------------------
    //- Набор UI
    +block-lib({title: 'TEXT FIELD', mods:'DEFULT', width: '320px'})
        +text-field({placeholder: 'Email'})

    +block-lib({title: 'TEXT FIELD', mods:'HOVER / FOCUS', width: '320px'})
        +text-field({mods: 'focused', placeholder: 'This is pretty awesome'})

    +block-lib({title: 'DROPDOWN', mods: 'DEFAULT', width: '320px'})
        +dropdown({
            moduleClass: 'dropdownVisitors',
            mods: 'open',
            isBtnClear: true,
            isBtnSubmit: true,
            dropStrings: [
                {lineTitle: 'ВЗРОСЛЫЕ', maxCount: '5'},
                {lineTitle: 'ДЕТИ', maxCount: '5'},
                {lineTitle: 'МЛАДЕНЦЫ', maxCount: '5',
                isCountSeparate: true,
                namingForCount: 'младенец,младенца,младенцев'}
            ],
            namingForAll: 'гость,гостя,гостей',
            namingForEmpty: 'Сколько гостей'
            })

    +block-lib({title: 'DROPDOWN', mods: 'DEFAULT', width: '320px'})
        +dropdown({
            moduleClass: 'dropdownEnvarenment',
            isBtnClear: false,
            isBtnSubmit: false,
            dropStrings: [
                {lineTitle: 'СПАЛЬНИ', maxCount: '2',
                isCountSeparate: true,
                namingForCount: 'спальня,спальни,спален'},
                {lineTitle: 'КРОВАТИ', minCount: '1', maxCount: '4',
                isCountSeparate: true,
                namingForCount: 'кровать,кровати,кроватей'},
                {lineTitle: 'ВАННЫЕ КОМНАТЫ', maxCount: '2',
                isCountSeparate: true,
                namingForCount: 'ванная комната,ванных комнаты,ванных комнат'}
            ],
            namingForAll: '',
            namingForEmpty: 'Выбрать удобства'
            })
    
    +block-lib({title: 'CHECKBOX', mods: 'DEFULT', width: '320px'})
        +field-checkbox({moduleClass: 'test', labelTitle: 'Текстовый тест'})

    +block-lib({title: '', mods: '', width: '320px'})
        +exp-checkbox-list({
            listTitle: 'EXPANDABLE CHECKBOX LIST', 
            moduleClass: 'checkList-test',
            mods: 'open',
            dropStrings: [
                {dataName: 'checkbox-breakfast',
                labelTitle: 'Завтрак'},
                {dataName: 'checkbox-table',
                labelTitle: 'Письменный стол',
                checked: true},
                {dataName: 'checkbox-childChair',
                labelTitle: 'Стул для кормления',
                checked: true},
                {dataName: 'checkbox-childBed',
                labelTitle: 'Кроватка',
                checked: true},
                {dataName: 'checkbox-TV1',
                labelTitle: 'Телевизор'},
                {dataName: 'checkbox-showerGel1',
                labelTitle: 'Шампунь'},
                {dataName: 'checkbox-TV2',
                labelTitle: 'Телевизор'},
                {dataName: 'checkbox-showerGel2',
                labelTitle: 'Шампунь'}
            ]
        })


    +block-lib({title: '', mods: '', width: '220px'})
        +checkbox-list({
            listTitle: 'CHECKBOX BUTTONS', 
            moduleClass: 'checkList-buttons',
            dropStrings: [
                {dataName: 'checkbox-smoking',
                labelTitle: 'Можно курить'},
                {dataName: 'checkbox-pets',
                labelTitle: 'Можно с питомцами',
                checked: true},
                {dataName: 'checkbox-guests',
                labelTitle: 'Можно пригласить гостей (до 10 человек)',
                checked: true},
            ]
        })

    +block-lib({title: 'RICH CHECKBOX', width: '220px'})
        +rich-checkbox({
            labelTitle: 'Широкий коридор',
            labelDiscription: 'Ширина коридоров в номере не менее 91 см.',
            moduleClass: 'rich-checkbox-test'
        })

    +block-lib({width: '320px'})
        +radio-buttons({
            labelTitle: 'RADIO BUTTONS',
            moduleClass: 'radio-battons-test',
            buttonsList: [
                {buttonTitle: 'Мужчина',
                buttonValue: 'man',
                checked: true},
                {buttonTitle: 'Женщина',
                buttonValue: 'woman'}
                ]
            })

    +block-lib({title: 'TOGGLE', width: '320px'})
        +field-toggle({
            labelTitle: 'Получать спецпредложения',
            moduleClass: 'field-toggle-test',
            checked: true
        })

    +block-lib({title: 'LIKE BUTTON', width: '220px'})
        +like-button({
            labelTitle: '2',
            moduleClass: 'like-button-test'
        })

    +block-lib({title: 'RATE-BUTTON', width: '320px'})
        +rate-button({
            rate: '3'
        })
        +rate-button({
            rate: '5'
        })

    +block-lib({title: '', width: '266px', mods: ''})
        +range-slider({
            lineTitle: 'RANGE SLIDER',
        })

    +block-lib({title: 'BUTTONS', width: '320px'})
        +button-block({
            lineTitle: 'CLICK ME',
            mods: 'full'
            })
        +button-block({
            lineTitle: 'CLICK ME',
            mods: 'full, hover'
            })
    
    +block-lib({title: '', width: '320px'})
        +button-block({
            lineTitle: 'CLICK ME',
            mods: 'border'
            })
        +button-block({
            lineTitle: 'CLICK ME',
            mods: 'border, hover'
            })

    +block-lib({title: '', width: '320px'})
        +button-block({
            lineTitle: 'CLICK ME',
            mods: 'link'
            })
        +button-block({
            lineTitle: 'CLICK ME',
            mods: 'link, dark'
            })
    
    +block-lib({title: '', width: '320px'})
        +button-block({
            lineTitle: 'CLICK ME',
            mods: 'full, arrow, big'
            })



        

