@import '../common.scss';
@import '../../modules/text-field/text-field.scss';
@import '../../modules/masked-text-field/masked-text-field.scss';
@import '../../modules/dropdown/dropdown';
@import '../../modules/date-dropdown/date-dropdown.scss';
@import '../../modules/expandable-checkbox-list/expandable-checkbox-list';
@import '../../modules/checkbox-buttons/checkbox-buttons';
@import '../../modules/rich-checkbox/rich-checknox';
@import '../../modules/radio-buttons/radio-buttons';
@import '../../modules/field-toggle/field-toggle';
@import '../../modules/like-button/like-button';
@import '../../modules/rate-button/rate-button';
@import '../../modules/range-slider/range-slider.css';
@import '../../modules/buttons/buttons.scss';
@import '../../modules/icon-text/icon-text.scss';
@import '../../modules/icon-text-list/icon-text-list.scss';
@import '../../modules/bullet-list/bullet-list.scss';
@import '../../modules/comment/comment.scss';
@import '../../modules/pagination/pagination.scss';
@import '../../modules/subscription-text-field/subscription-text-field.scss';




// @mixin font-face($font-name, $font-path, $font-weight: 400, $font-style: normal) {
//     @font-face {
//         font-family: $font-name;
//         font-style: $font-style;
//         font-weight: $font-weight;
//         src: url('#{$font-path}.woff2') format('woff2'),
//         url('#{$font-path}.woff') format('woff'),
//         url('#{$font-path}.ttf') format('truetype');
//     }
// }

// @include font-face("Material Icons", "fonts/MaterialIcons-Regular");

// @include font-face("Montserrat", "fonts/Montserrat-Regular");
// @include font-face("Montserrat", "fonts/Montserrat-Bold", bold);

// @include font-face("Quicksand", "fonts/OpenSans-Bold", bold);
// @include font-face("Quicksand", "fonts/OpenSans-Regular");




// body,
// a, button,
// ul {
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 0.875rem; //14px
//     line-height: 1.5rem; //24px
// }

// h1, h2, h3 {
//     font-family: Quicksand;
//     font-style: normal;
//     font-weight: bold;
// }

// h1 {
//     font-size: 1.5rem;
//     line-height: 1.875rem;
// }

// h2 {
//     font-size: 19px;
//     line-height: 30px;
// }

// h3 {
//     font-size: 0.75rem;
//     line-height: 0.9375rem;
// }

// p {
//     margin: 0;
//     padding: 0;
// }

// требует рефакторинг. Замена на extend
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


.page {
    &__description {
        position: absolute;
        top: 150px;
        left: -65px;
        color: $DarkShade25;
        transform: rotate(-90deg)

    }
}

.block-lib {
    padding-left: 50px;
    padding-bottom: 21px;

    &__description-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    &__block-row {
        padding-top: 5px;
    }

    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: left;
    }

    &__mods {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
    }

    &_inline {
        display: inline-block;
        margin-right: 20px;
    }
}

@media screen and (max-width: 400px) {
    body {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }

    .block-lib {
        padding-left: 0;
    }
}