@import '../../modules/text-field/text-field';
@import '../../modules/dropdown/dropdown';
@import '../../modules/field-checkbox/field-checkbox';
@import '../../modules/exp-checkbox-list/exp-checkbox-list';
@import '../../modules//checkbox-list/checkbox-list';


@mixin font-face($font-name, $font-path, $font-weight: 400, $font-style: normal) {
    @font-face {
        font-family: $font-name;
        font-style: $font-style;
        font-weight: $font-weight;
        src: url('#{$font-path}.woff2') format('woff2'),
        url('#{$font-path}.woff') format('woff'),
        url('#{$font-path}.ttf') format('truetype');
    }
}

@include font-face("Material Icons", "fonts/MaterialIcons-Regular");

@include font-face("Montserrat", "fonts/Montserrat-Regular");
@include font-face("Montserrat", "fonts/Montserrat-Bold", bold);

@include font-face("Quicksand", "fonts/OpenSans-Bold", bold);
@include font-face("Quicksand", "fonts/OpenSans-Regular");

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


.block-lib {
    padding-bottom: 21px;

    &__description-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    &__block-row {
        padding-top: 5px;
    }

    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: left;
    }

    &__mods {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
    }
}