@import '../room-details/room-details';
@import '../date-dropdown/date-dropdown.scss';
@import '../dropdown/dropdown.scss';
@import '../buttons/buttons.scss';


.form-booking {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  background: white;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 380px;
  
  &__room-details {
    width: 320px;
  }

  &__date-picker-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 18px 0 20px 0;
    width: 320px;
  }

  &__arrival, &__departure {
    box-sizing: padding-box;
    width: 150px;
  }

  &__sub-title {
    margin: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  &__dropdown {
    padding-bottom: 20px;
    width: 320px;
  }

  &__details-item {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 14px;
    width: 320px;
    line-height: 20px;
  }

  &__details-item:last-child {
    padding: 9px 0 17px 0;
    font-weight: bold;
  }

  &__item-name {
    max-width: 214px;
  }

  &__info {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    left: 219px;
    border: 1px solid $DarkShade25;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: $DarkShade25;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
   }

  &__total-currency {
    font-family: Montserrat;
    font-style: normal;
  }

  &__item-total,
  &__item-price-total {
    margin: 0;
    text-transform: none;
    font-size: 19px;
  }

  &__item-total {
    padding-right: 5px;
  }

  &__item-price-total {
    padding-left: 5px;
  }

  &__total-dots {
    flex-grow: 1;
    border-bottom: 1px dotted $DarkShade25;
  }
}