@import './template.scss';
@import '../../modules/standard-nav-bar/standard-nav-bar';
@import '../../modules/footer/footer';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #F4F4F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.page-header {
  width: 100%
}

.page-footer {
  width: 1440px;
}
