@import "../../modules/text-field/text-field";

.subscription-text-field {
  box-sizing: border-box;;
  display: inline-block;
  position: relative;
  width: 100%;

  &__marker {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
  }

  &_primari-gradient &__marker {
    background: $PrimaryGradient;
    background-clip: text;
    color: transparent;
  }
}