@import '../common.scss';
@import '../../modules/buttons/buttons';
@import '../../modules/navigation/navigation';
@import '../../modules/logo/logo';
@import '../../modules/standard-nav-bar/standard-nav-bar';

.free-space {
  content: '';
}

.elements {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  background-color: #F4F4F6;

  &__logo {
    padding-top: 35px;
    padding-left: 23px;
  }
}