@import '../../template/template.scss';
@import '../../modules/buttons/buttons';
@import '../../modules/navigation/navigation';
@import '../../modules/logo/logo';
@import '../../modules/standard-nav-bar/standard-nav-bar';
@import '../../modules/footer/footer';
@import '../../modules/social/social';
@import '../../modules/subscription-text-field/subscription-text-field';
@import '../../modules/text-field/text-field.scss';
@import '../../modules/widget/widget';

.free-space {
  content: '';
}

body {
  background-color: #F4F4F6;
}

.elements {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding-bottom: 40px;

  &__logo {
    padding-top: 30px;
    padding-left: 30px;
  }

  &_logo {
    padding-bottom: 73px;
  }
}