extends ../../template/template

//- Миксины используемые на странице описаны в конце
//- mixin free-space(props={})    задает отступ по ширине и/или высоте

block meta
  meta(name="keywords", content="toxin, form elements")
  meta(name="description" content="Учебный проект FSD. Второе задание. Лист Headers & Footers")

block title
  | 
  = 'Headers & Footers'

block main
  include ../../modules/logo/logo
  include ../../modules/standard-nav-bar/standard-nav-bar
  include ../../modules/footer/footer

  section.elements.elements_logo
    .elements__logo
      +logo({mods: 'gray'})
  //- +free-space({height: '57px'})
  section.elements
    +standard-nav-bar()
  //- +free-space({height: '40px'})
  section.elements
    +standard-nav-bar(
      {
        mods: 'logged-in',
        userName: 'Cosmin Negoita'
      }
    )
  //- +free-space({height: '40px'})
  section.elements
    +footer({
      widgets: [
        {
          title: 'navigation',
          mods: 'menu',
          itemsList: [
            {
              link: 'link/about',
              item: 'About Us'
            },
            {
              link: 'link/news',
              item: 'News'
            },
            {
              link: 'link/support',
              item: 'Support'
            },
            {
              link: 'link/products',
              item: 'Products'
            }
          ]
        },
        {
          title: 'about us',
          mods: 'menu',
          itemsList: [
            {
              link: 'link/who-we-are',
              item: 'Who we are'
            },
            {
              link: 'link/our-team',
              item: 'Our team'
            },
            {
              link: 'link/careers',
              item: 'Careers'
            },
            {
              link: 'link/investors',
              item: 'Investors'
            }
          ]
        },
        {
          title: 'suppurt',
          mods: 'menu',
          itemsList: [
            {
              link: 'link/documentation',
              item: 'Documentation'
            },
            {
              link: 'link/community',
              item: 'Community'
            },
            {
              link: 'link/get-in-touch',
              item: 'Get in Touch'
            }
          ]
        },
        {
          title: 'Subscribe to our newsletter',
          mods: 'subscribe',
          subscribeText: 'Receive our latest news and promotions in your inbox!'
        }

      ]})
  section.elements
    +footer()


mixin free-space(props = {})
  //- Задает свободное пространство на странице
  //- Принимает объект props с ключами
  //- width   {string}    ширина отступа 
  //- height  {string}    высота отступа

    Примеры вызова
    +free-space({height: '60px'})
    +free-space({height: '3rem', width: '50px'})

  -
    let styleString = ''
    if (typeof(props.width) !== 'undefined' && props.width) {
      styleString += 'width:' + props.width + ';'
    }
    if (typeof(props.height) !== 'undefined' && props.height) {
      styleString += 'height:' + props.height + ';'
    }
  .free-space(style= styleString)