extends ../../template/template

block meta
  meta(name="keywords", content="toxin, form elements")
  meta(name="description" content="Учебный проект FSD. Второе задание. Лист Headers & Footers")

block title
  | 
  = 'Headers & Footers'

block main
  include ../../modules/logo/logo