.field-checkbox {
  position: relative;
  padding-left: 1.875rem;
  display: block;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  
  &__input {
    margin: 0;
    appearance: none;
  }
  
  &__box {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid $DarkShade25;
  }

  &__input:checked + &__box{
    border: 1px solid $Purple;
  }

  &__input:checked + &__box:after {
    position: absolute;
    background: url('../../img/check-box-marker-purple.svg') no-repeat;

    content: "";
    left: 4px;
    top: 3px;
    width: 10px;
    height: 10px;
    // background-color: red;
  }

}