.field-checkbox {
  box-sizing: border-box;
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 1.875rem;
  // line-height: 1.25rem;
  font-size: 0.875rem;
  
  &__input {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  
  &__box {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid $DarkShade25;
    border-radius: 0.25rem;
    width: 1.25rem;
    height: 1.25rem;
  }

  &__input:checked + &__box{
    border: 1px solid $Purple;
  }
//TODO: заменить на check из Awesome
  &__input:checked + &__box:after {
    position: absolute;
    top: 0.1875rem;
    left: 0.25rem;
    width: 10px;
    height: 10px;
    content: "";
    @extend %MarkerPurple;
  }

  &__input:focus + &__box {
    box-shadow: 0 0 0 0.5px $Purple;
  }
// Модификаторы
  &_bold {
    font-weight: bold;
  }

  &_dark-shade75 {
    color: $DarkShade75;
  }
}

// Маркер чекбокса
%MarkerPurple {
  background-image: url('data:image/svg+xml,%3Csvg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M1.46439 4.40768L5.70703 8.65032L4.29282 10.0645L0.0501771 5.82189L1.46439 4.40768Z" fill="url(%23paint0_linear)"/%3E%3Cpath d="M8.53546 2.99347L9.94967 4.40768L4.29282 10.0645L2.8786 8.65032L8.53546 2.99347Z" fill="url(%23paint1_linear)"/%3E%3Cdefs%3E%3ClinearGradient id="paint0_linear" x1="7.82835" y1="2.28636" x2="2.1715" y2="7.94321" gradientUnits="userSpaceOnUse"%3E%3Cstop stop-color="%23BC9CFF"/%3E%3Cstop offset="1" stop-color="%238BA4F9"/%3E%3C/linearGradient%3E%3ClinearGradient id="paint1_linear" x1="7.82835" y1="2.28636" x2="2.1715" y2="7.94321" gradientUnits="userSpaceOnUse"%3E%3Cstop stop-color="%23BC9CFF"/%3E%3Cstop offset="1" stop-color="%238BA4F9"/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A');
}
