.field-checkbox {
  position: relative;
  padding-left: 1.875rem;
  display: block;
  font-size: 0.875rem;
  line-height: 1.125rem;
  cursor: pointer;
  
  &__input {
    margin: 0;
    appearance: none;
  }
  
  &__box {
    position: absolute;
    left: 0;
    top: 0;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 0.25rem;
    border: 1px solid $DarkShade25;
  }

  &__input:checked + &__box{
    border: 1px solid $Purple;
  }

  &__input:checked + &__box:after {
    position: absolute;
    // путь к изображению от страницы использования
    background: url('../../modules/field-checkbox/img/check-box-marker-purple.svg') no-repeat;
    content: "";
    left: 0.25rem;
    top: 0.1875rem;
    width: 0.625rem;
    height: 0.625rem;
  }

  &__input:focus + &__box {
    box-shadow: 0 0 0 1px $Purple;
  }

}