.field-checkbox {
    position: relative;
    cursor: pointer;
    width: 100%;

    &__input { 
        position: absolute;
        line-height: 1.125rem;
        z-index: -1;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }

    &__input::before {
        position: absolute;
        top: 0;
        left: 0;
        height: 1rem;
        width: 1rem;
        content: '';
        border-radius: 0.25rem;
        border: solid 0.125rem transparent;
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), $Purple;
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 0.125rem 2rem 0px #fff inset;
    }

    &__marker {
        position: absolute;

        top: 0.1875rem;
        opacity: 0;
        transition: opacity .1s linear 0s;
        height: 1rem;
        width: 1rem;
        overflow: hidden;
    }

    &__marker::before {
        content: "";
        opacity: 1;
    
        display: block;
        position: absolute;
        top: 0.125rem;
        left: 0.4375rem;
        width: 0.375rem;
        height: 0.5rem;
        background: $PrimaryGradient;
        transform: rotate(-135deg);
    }

    &__marker::after {
        content: "";
        position: absolute;
        left: 0.4375rem;
        top: -0.125rem;
        width: 0.375rem;
        height: 0.5rem;
        background-color: #fff;
        transform: rotate(45deg);
    }

    &__input:checked + &__marker {
        opacity: 1.0;
    }

    &__label {
        display: block;
        padding: 0;
        margin: 0;
        width: calc(100% - 1.875rem);
        padding-left: 1.875rem;
    }
}
