@import '../icon-text/icon-text.scss';

.icon-text-list {
  &__separate {
    width: 100%;
    border: none;
    background-color: $DarkShade10;
    margin: 1.25rem 0;
    color: $DarkShade10;
    height: 0.0625rem;
  }

  &__separate:nth-last-child() {
    margin-bottom: 0;
  }
}