include ../../modules/icon-text/icon-text

mixin icon-text-list(props={})

  //- Список текста с иконками
  //- Принимает параметры в props:
  //- moduleClass             string      доп имя класса для списка
  //- mods                    string      модификации
  //- iconStrings             string      Строки с иконками icon-text
  //-     moduleClass         string      доп имя класса
  //-     mods                string      модификации
  //-     icon                string      иконка из шрифта material icons
  //-     lineTitle           string      Заголовок текста
  //-     description         string      описание

    Пример вызова
    +icon-text-list({
          iconStrings: [
            {
            icon: 'insert_emoticon',
            lineTitle: 'Комфорт',
            description: 'Шумопоглощающие стены'
            },
            {
            icon: 'location_city',
            lineTitle: 'Удобство',
            description: 'Окно в каждой из спален'
            }
          ]
        })

  -
    const {mods, iconStrings} = props
    let allMods = ''
    if (typeof(mods) !== 'undefined' && mods) {
    let modList = mods.split(',')
    for (let i=0; i < modList.length; i++) {
      allMods = allMods + ' icon-text-list_' + modList[i].trim()
      }
    }

  .icon-text-list(class= allMods)
    each iconRow in iconStrings
      - const {mods, icon, lineTitle, description} = iconRow
      +icon-text({
        mods: mods || '',
        icon: icon || '',
        lineTitle: lineTitle || '',
        description: description || ''
      })
      hr.icon-text-list__separate
