.comment {
  position: relative;
  padding-left: 3.75rem;
  width: 100%;

  &__photo-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.75rem;
    height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    border: 0.125rem solid white;
    margin: auto;
    box-shadow: 0px 0.625rem 1.25rem $DarkShade10;
  }

  &__like-button {
    position: absolute;
    top: 3.875rem;
    left: 0.3125rem;
  }

  &__user-name {
    font-weight: bold;
    padding-top: 0.1875rem;
  }

  &__text {
    width: calc(100% - 3.75rem);
    padding-top: 0.6875rem;
  }
}