@import '../like-button/like-button';

.comment {
  box-sizing: border-box;
  position: relative;
  padding-left: 3.75rem;
  width: 100%;
  

  &__photo-ring {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 0.125rem solid white;
    border-radius: 50%;
    box-shadow: 0px 0.625rem 1.25rem $DarkShade10;
    width: 2.75rem;
    height: 2.75rem;
    overflow: hidden;
  }

  &__like-button {
    position: absolute;
    top: 63px;
    left: 0.3125rem;
  }

  &__date {
    padding-top: 1px;
  }

  &__user-name {
    margin: 0;
    padding-top: 0.1875rem;
    line-height: 24px;
    color: $DarkShade75;
    font-size: 14px;
    font-weight: bold;
  }

  &__text {
    padding-top: 10px;
    width: calc(100% - 3.75rem);
  }
}