.standard-nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  background: white;
  width: 100%;
  

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1160px;
    height: 70px;
  }

  &__navigation-region {
    flex-grow: 1;
  }

  &__login-region {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__logged-element {
    height: 34px;
    padding-right: 20px;
  }

  &__logged-element:last-child {
    padding-right: 0;

  }

  &__login-separator {
    content: '';
    line-height: 30px;
    border-left: 1px solid $DarkShade10;
  }

  &__user-name {
    margin: 0;
    padding: 0;
    line-height: 34px;
    color: $DarkShade50;
  }

  &_logged-in &__logged-element:first-child {
    padding-top: 6px;
    padding-right: 9px;
  }
}