@import '../../modules/logo/logo';
@import '../../modules/navigation/navigation';
@import '../../modules/buttons/buttons.scss';

.standard-nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
  background: white;
  width: 100%;
  

  &__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 72.5rem;
    height: 4.375rem;
  }

  &__mobile-logo {
    display: none;
  }

  &__navigation-region {
    flex-grow: 1;
  }

  &__mobile-menu {
    display: none;
    flex-grow: 1;
    text-align: right;
    color: $DarkShade50;
    padding-right: 20px;
  }

  &__login-region {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__mobile-profile {
    display: none;
    text-align: right;
    color: $DarkShade50;
    background-repeat: 20px;
  }

  &__logged-element {
    height: 2.125rem;
    padding-right: 1.25rem;
  }

  &__logged-element:last-child {
    padding-right: 0;

  }

  &__login-separator {
    content: '';
    line-height: 1.875rem;
    border-left: 1px solid $DarkShade10;
  }

  &__user-name {
    margin: 0;
    padding: 0;
    line-height: 2.125rem;
    color: $DarkShade50;
  }

  &_logged-in &__logged-element:first-child {
    padding-top: 0.375rem;
    padding-right: 0.5625rem;
  }
}

// @media screen and (max-width: 1250px) {
  
//   .standard-nav-bar {
  
//     &__container {
//       width: 93%;
//     }

//   }
// }

@media screen and (max-width: 1440px) {
  
  .standard-nav-bar {
  
    &__container {
      width: 80%;
    }

  }
}

@media screen and (max-width: 1400px) {
  .standard-nav-bar {
  
    &__container {
      width: 1107px;
    }

  }
}

@media screen and (max-width: 1160px) {
  .standard-nav-bar {

    &__container {
      width: 93%;
    }

  }
}

@media screen and (max-width: 1100px) {
  .standard-nav-bar {

    &__container {
      width: 866px;
    }

  }
}

@media screen and (max-width: 950px) {
  .standard-nav-bar {
  
    &__container {
      width: 92%;
    }

    &__logged-element {
      padding-right: 6.3%;
    }

  }
}

@media screen and (max-width: 880px) {
  .standard-nav-bar {
    &__logo {
      display: none;
    }

    &__mobile-logo {
      display: block;
    }
  }
}


@media screen and (max-width: 800px) {
  .standard-nav-bar {
    &__login-region {
      display: none;
    }

    &__mobile-profile {
      display: inline;
      background: $PrimaryGradient;
      background-clip: text;
      color: transparent;
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .standard-nav-bar {
    &__navigation-region {
      display: none;
    }

    &__mobile-menu {
      display: inline;
      background: $PrimaryGradient;
      background-clip: text;
      color: transparent;
      font-size: 2rem;
    }
  }
}
