include ../logo/logo.pug
include ../navigation/navigation.pug
include ../buttons/buttons.pug


-
  const itemMenu    = {item: 'Home',link: '#',mods: 'active'}
  const itemAboutUs = {item: 'About Us',ink: '#'}
  const itemCareers = {item: 'Careers',link: '#'}
  const itemNews    = {item: 'News',link: '#'}
  const itemDocs    = {item: 'Documentation',link: '#'}
  const subItemOurServices = {item: 'Our Services',link: '#'}
  const itemServices  = {item: 'Services',link: '#',mods: 'sub',subList: [subItemOurServices]}

  const listOfMenu = {itemsList: [itemMenu, itemAboutUs,itemServices,itemCareers,itemNews,itemDocs]}
  

mixin standard-nav-bar(props={})
  //- standard nav-bav
  //- Принимает объект props с ключами
  //- mods    {string} модификаторы через запятую
  //-             _logged-in

  -
    const {mods, userName} = props
    let allMods = ''
    let loggedIn = false
    if (typeof(mods) !== 'undefined' && mods) {
    let modList = mods.split(',')
    for (let i=0; i < modList.length; i++) {
      if (modList[i].trim() === 'logged-in') {
        loggedIn = true
      }
      allMods = allMods + ' standard-nav-bar_' + modList[i].trim()
      }
    }

  header.standard-nav-bar(class = allMods)
    .standard-nav-bar__container
      .standard-nav-bar__logo
        +logo()
      .standard-nav-bar__navigation-region
        +navigation(listOfMenu)
      .standard-nav-bar__login-region
        if loggedIn
          .standard-nav-bar__logged-element
            span.standard-nav-bar__login-separator s
          .standard-nav-bar__logged-element
            p.standard-nav-bar__user-name= userName

        else
          .standard-nav-bar__logged-element
            +buttons({
              lineTitle: 'LOGIN',
              mods: 'border, free-height, padding20'
            })
          .standard-nav-bar__logged-element
            +buttons({
              lineTitle: 'REGISTER',
              mods: 'full, free-height, padding20'
            })
      

    