include ../logo/logo.pug
include ../navigation/navigation.pug
include ../buttons/buttons.pug

mixin standard-nav-bar(props={})
  //- standard nav-bav
  //- Принимает объект props с ключами
  //- mods    {string} модификаторы через запятую
  //-             _logged-in

  -
    let moduleClass = (props.moduleClass) ? props.moduleClass : ''
    let allMods = ''
    if (typeof(props.mods) !== 'undefined' && props.mods) {
    let modList = props.mods.split(',')
    for (let i=0; i < modList.length; i++) {
      allMods = allMods + ' card-room_' + modList[i].trim()
      }
    }

  article.standard-nav-bar
    .standard-nav-bar__logo
      +logo()
    .standard-nav-bar__navigation-region
      +navigation({
        itemsList: ['menu', 'tebu']
      })
    .standard-nav-bar__login-region
      +buttons({
        lineTitle: 'LogIn',
        mods: 'border'
      })
    