.toggle {
  position: relative;
  padding-left: 50px;
  display: block;
  font-size: 0.875rem;
  line-height: 1.125rem;
  cursor: pointer;
  
  &__input {
    margin: 0;
    appearance: none;
  }
  
  &__marker {
    position: absolute;
    left: 0;
    top: 0;
    width: 2.375rem;
    height: 1.125rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid $DarkShade25;
  }

  &__marker:after {
    position: absolute;
    background-color: $DarkShade25;
    border-radius: 50%;
    content: "";
    left: 0.25rem;
    top: 0.1875rem;
    width: 0.75rem;
    height: 0.75rem;
  }

  &__input:checked + &__marker{
    border: 0.0625rem solid $Purple;
  }

  &__input:checked + &__marker:after {
    position: absolute;
    background: $PrimaryGradient;
    border-radius: 50%;
    content: "";
    left: 1.4375rem;
    top: 0.1875rem;
    width: 0.75rem;
    height: 0.75rem;
  }

  &__input:focus + &__marker {
    box-shadow: 0 0 0 1px $Purple;
  }

  &_bold {
    font-weight: bold;
  }

  &_dark-shade75 {
    color: $DarkShade75;
  }
}