.toggle {
  box-sizing: border-box;
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 3.125rem;
  line-height: 1.25rem;
  font-size: 0.875rem;
  user-select: none;
  
  &__input {
    appearance: none;
    box-sizing: border-box;
    margin: 0;
  }
  
  &__marker {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    border: 0.0625rem solid $DarkShade25;
    border-radius: 0.625rem;
    width: 2.5rem;
    height: 1.25rem;
  }

  &__marker:after {
    position: absolute;
    top: 0.1875rem;
    left: 0.25rem;
    border-radius: 50%;
    background-color: $DarkShade25;
    width: 0.75rem;
    height: 0.75rem;
    content: "";
  }

  &__input:checked + &__marker{
    border: 0.0625rem solid $Purple;
  }

  &__input:checked + &__marker:after {
    position: absolute;
    top: 0.1875rem;
    left: 1.4375rem;
    border-radius: 50%;
    background: $PrimaryGradient;
    width: 0.75rem;
    height: 0.75rem;
    content: "";
  }

  &__input:focus + &__marker {
    box-shadow: 0 0 0 1px $Purple;
  }

  &_bold {
    font-weight: bold;
  }

  &_dark-shade75 {
    color: $DarkShade75;
  }
}