%button-hover {
  transition-duration: .3s;
  opacity: .5;
}

.buttons {
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;

  &:hover {
    @extend %button-hover;
  }

  &_hover {
    @extend %button-hover;
  }

  &:focus {
    box-shadow: 0 0 0 0.5px $Purple;
  }

  // Модификатор full - градиент на кнопке
  &_full {
    border: none;
    border-radius: 1.375rem;
    background: $PrimaryGradient;
    width: 100%;
    height: 2.75rem;
    color: white;
    // padding-left: 1.25rem;
    // padding-right: 1.25rem;
  }

  // Модификатор _border
  &_border {
    border: solid 0.125rem transparent;
    border-radius: 1.375rem;
    box-shadow: 2px 1000px 1px #fff inset;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), $PrimaryGradient;
    background-clip: content-box, border-box;
    background-origin: border-box;
    width: 100%;
    height: 2.75rem;
    color: $Purple;
    // padding-left: 1.125rem;
    // padding-right: 1.125rem;
  }

  // Модификатор _link
  &_link {
    display: inline-block;
    margin: 0;
    border: none;
    border: none;
    background: transparent;
    padding: 0;
    color: #BC9CFF;
  }

  &_link:focus {
    box-shadow: none;
  }


  // Модификатор _big
  &_big {
    width: 20rem;
  }

  // Модификатор _arrow
  &_arrow {
    position: relative;
  }

  &_arrow::after {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    content: 'arrow_forward';
    @extend %MaterialIcon
  }

  &_dark {
    color: $DarkShade50;
  }

  &_free-height {
    height: 100%;
  }

  &_padding20 {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 400px) {
  .button-block_big .button-block__button {
    width: 280px;
  }
}


