mixin buttons(props={})

    //- button с надписью
    //- Принимает параметры в props:
    //- moduleClass             string      доп имя класса
    //- mods                    string      модификации
    //-                             border
                                    full
                                    link
                                    hover
                                    arrow
    //- labelTitle              string      надпись в кнопке


    -
        let moduleClass = props.moduleClass || ''
        let allMods = ''
        if (typeof(props.mods) !== 'undefined' && props.mods) {
        let modList = props.mods.split(',')
        for (let i=0; i < modList.length; i++) {
            allMods = allMods + ' buttons_' + modList[i].trim()
            }
        }

    button.buttons(
        class= moduleClass + allMods,
        type="button"
        )= props.lineTitle
