%button-hover {
  opacity: .5;
  transition-duration: .5s;
}

.buttons {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;

  &:hover {
    @extend %button-hover;
  }

  &_hover {
    @extend %button-hover;
  }

  &:focus {
    box-shadow: 0 0 0 0.5px $Purple;
  }

  // Модификатор full - градиент на кнопке
  &_full {
    height: 2.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: none;
    border-radius: 1.375rem;
    background: $PrimaryGradient;
    color: white;
  }

  // Модификатор _border
  &_border {
    height: 2.75rem;
    border-radius: 1.375rem;
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    color: $Purple;
    border: solid 0.125rem transparent;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), $PrimaryGradient;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
  }

  // Модификатор _link
  &_link {
    margin: 0;
    padding: 0;
    color: #BC9CFF;
    border: none;
    background: transparent;
    display: inline-block;
    border: none;
  }

  // Модификатор _big
  &_big {
    width: 20rem;
  }

  // Модификатор _arrow
  &_arrow {
    position: relative;
  }

  &_arrow::after {
    position: absolute;
    content: 'arrow_forward';
    top: 0.625rem;
    right: 0.625rem;
    @extend %MaterialIcon
  }

  &_dark {
    color: $DarkShade50;
  }

}

@media screen and (max-width: 400px) {
  .button-block_big .button-block__button {
    width: 280px;
  }
}


