.rate-button {
  display: inline-flex;
  cursor: pointer;
  justify-content: flex-start;

  @extend %MaterialIcon;

  &__star:after {
    content: "star_border";
    background: $PrimaryGradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__star_full:after {
    content: "star";
    background: $PrimaryGradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}