mixin rate-button(props={})

  //- Like button
  //- Принимает параметры в props:
  //- mods                    string      модификации
  //- rate                    string      рейтинг
  //- 


  -
    let allMods = ''
    if (typeof(props.mods) !== 'undefined' && props.mods) {
    let modList = props.mods.split(',')
    for (let i=0; i < modList.length; i++) {
      allMods = allMods + ' rate-button_' + modList[i].trim()
      }
    }
    let rate = (typeof(props.rate) !== 'undefined' && props.rate) ? parseInt(props.rate) : 0

  .rate-button(class = allMods)
    - let limit = rate - 5;
    while rate > limit
      span.rate-button__star(class = (rate-- > 0) ? 'rate-button__star_full' : '')
