.rate-button {
    display: inline;
    cursor: pointer;
    color: #BC9CFF;
    // display: flex;
    justify-content: flex-start;

    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;

    &__star:after{
        content: "star_border";
    }

    &__star_full:after {
        content: "star"
    }
}