mixin room-details(props={})
  //- Строка зогловок для номера
  //- Принимает объект props с ключами
  //- mods        {string}
            h2-title
  //- roomNumber  {String}    номер комнаты
  //- roomType    {string}    тип номер
            "Люкс", "Эконом"
  //- price       {Number}    стоимость 

  -
    const {mods, roomNumber, roomType, price} = props
    let allMods = ''
    if (typeof(mods) !== 'undefined' && mods) {
    let modList = mods.split(',')
    for (let i=0; i < modList.length; i++) {
      allMods = allMods + ' room-details_' + modList[i].trim()
      }
    }
    let roomNumberSpace = ' ' + roomNumber || '---'
    roomNumberSpace += ' '

  header.room-details(class = allMods)
    .room-details__room-tag
      h2.room-details__number
        em.room-details__number-prefix №
        |
        = roomNumberSpace
        
      p.room-details__room-type= roomType

    .room-details__price-tag
      p.room-details__price
        em.room-details__price-digits= price
        |  в сутки