.room-details {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;

  &__room-tag {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }

  &__number {
    margin: 0;
    padding-right: 5px;
  }

  &__number-prefix {
    font-size: 14px;
    font-style: normal;
  }

  &__room-type {
    color: $Purple;
    font-size: 12px;
    font-weight: bold;
  }

  &__price {
    color: $DarkShade50;
    font-size: 12px;
  }
  &__price-digits {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
  }

  // Модификатор заголовка для карточки номера
  &_litle-title &__number{
    font-size: 19px;
  }
}