%buttonHover {
    opacity: 0.5;
    transition-duration: .5s;
}

%buttonBorderHover {
    opacity: 1;
}

.button-block + .button-block_border {
    padding-left: 2px;
}

.button-block_border .button-block__button{
    position: relative;
    display: inline-block;
    height: 40px;
    color: #BC9CFF;
    border: none;
    background: white;
   
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;

    text-align: center;

    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
    border: none;
    border-radius: 22px;

    &:hover {
        @extend %buttonBorderHover
    }
}

.button-block_border .button-block__button::before {
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    content: '';
    border-radius: 23px;
    background: linear-gradient(#BC9CFf, #8BA4F9);   

    &:hover {
        @extend %buttonHover;
    }
}

.button-block_border + .button-block_hover .button-block__button::before{
    @extend %buttonHover;
}

