@import '../../modules/date-dropdown/date-dropdown.scss';
@import '../../modules/dropdown/dropdown.scss';
@import '../../modules/buttons/buttons.scss';

.form-selection {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  background: white;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 380px;
  
  &__title-wrapper {
    width: 320px;
  }

  &__title {
    margin: 0;
    text-transform: none;
  }

  &__sub-title {
    margin: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  &__date-picker-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px 0 22px 0;
    width: 320px;
  }

  &__arrival, &__departure {
    box-sizing: padding-box;
    width: 150px;
  }

  &__dropdown {
    padding-bottom: 30px;
    width: 320px;
  }
}