.rich-checkbox {
    position: relative;
    user-select: none;
    display: inline-block;
    // height: 20px;
    cursor: pointer;


    &__wrapper {
        margin: 0;
        padding: 0;
    }

    &__name {
        padding: 0;
        margin: 0;
        display: inline-block;

        margin-left: 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;

        color: rgba(31, 32, 65, 0.75);
    }

    &__discription {
        margin: 7px 0 0 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;

        color: rgba(31, 32, 65, 0.5);
    }

    &__input {
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: -1;
        border: 0;
        top: 2px;
        left: 2px;
    }

    &__input:before {
        cursor: pointer;
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        width: 20px;
        height: 20px;
        background-color: #BC9CFF;
        border-radius: 4px;
    }

    &__input:after {
        cursor: pointer;
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 3px;
    }

    &__input:checked+.rich-checkbox__mark {
        opacity: 1.0;
    }


    &__mark {
        cursor: pointer;
        content: "";
        position: absolute;
        top: 5px;
        opacity: 0;
        transition: opacity .2s linear 0s;
    }

    &__mark:before {
        content: "";
        position: absolute;
        left: 7px;
        width: 6px;
        height: 8px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        transform: rotate(-135deg);
    }

    &__mark:after {
        content: "";
        position: absolute;
        left: 7px;
        top: -3px;
        width: 6px;
        height: 8px;
        background-color: #fff;
        transform: rotate(45deg);
    }
}