@import '../field-checkbox/field-checkbox.scss';

.checkbox-buttons {
  margin: 0;
  padding: 0;

  // width: calc(100% - 15px);
  user-select: none;

  &__title-wrapper {
    // height: 2.6875rem;
    display: flex;
    align-items: center;
    margin-bottom: .3rem;
  }

  &__menu {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
  }

  &__menuRow {
    padding: 0;
    margin: 0;
    padding-top: 0.75rem;
  }
}