include ../../modules/field-checkbox/field-checkbox

mixin checkbox-buttons(props={})

  //- checkbox-buttons  раскрытый список чекбоксов
  //- Данные для JS храняться в атрибутах Data
  //- 
  //- Принимает объект props с ключами:
  //- moduleClass             string      имя класса списка
  //- mods                    string      
  //- listTitle               string      название спсика
  //- dropStrings             array
  //-     *moduleClass        string      имя класса для чекбокса
  //-     *labelTitle         string      текст строки
  //-     mods                string      Модификация: disabled
  //-     checked             boolean     Установка в состояние checked

    Пример вызова:
    +checkbox-buttons({
      moduleClass: 'TestCheckList',
      lineTitle: 'Test Expanded Checkbox List',
      drpString: [
        {
          moduleClass: 'testCheckColor',
          labelTitle: 'Я выбираю цвет',
          mods: 'redColor',
          checked: true
        },
        {
          moduleClass: 'testCheckBold',
          labelTitle: 'Установить жирый шрифт',
        }
      ]
      })

  -
    let moduleClass = (props.moduleClass) ? props.moduleClass : ''
    let allMods = ''
    if (typeof(props.mods) !== 'undefined' && props.mods) {
    let modList = props.mods.split(',')
    for (let i=0; i < modList.length; i++) {
      allMods = allMods + ' checkbox-buttons_' + modList[i].trim()
      }
    }

  .checkbox-buttons(class = moduleClass + allMods)
    .checkbox-buttons__title-wrapper
      p.checkbox-buttons__title= props.listTitle || ''

    .checkbox-buttons__menu
      each rowString, index in props.dropStrings
        .checkbox-buttons__menu-row
          +field-checkbox({
            moduleClass: rowString.moduleClass || '',
            labelTitle: rowString.labelTitle || '',
            dataName: rowString.dataName || '',
            mods: rowString.mods || '',
            checked: rowString.checked || '',
          })