include ../../modules/logo/logo
include ../../modules/social/social
include ../../modules/widget/widget

mixin footer(props={})

  //- Футер 
  //- Принимает объект props с ключами

  //- mods          string      строка модификаций через запятую

  - 
    const {mods, widgets } = props
    let allMods = ''
    if (typeof(mods) !== 'undefined' && mods) {
      let modList = mods.split(',')
      for (let i=0; i < modList.length; i++) {
        allMods = allMods + ' footer_' + modList[i].trim()
        }
      }

  footer.footer(class= allMods + (widgets ? 'footer_widgets' : '') )
    .footer__login-region
      +logo()
      p.footer__login-text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      if !widgets
        +social({
          socialList: [
            {
              name: 'fa-twitter',
              link: '#'
            },
            {
              name: 'fa-facebook',
              link: '#'
            },
            {
              name: 'fa-instagram',
              link: '#'
            }
          ]
        })
    if widgets
      each widgetItem in widgets
        +widget(widgetItem)
