include ../../modules/logo/logo.pug
include ../../modules/social/social

mixin footer(props={})

  //- Футер 
  //- Принимает объект props с ключами

  //- mods          string      строка модификаций через запятую

  - 
    const {mods} = props
    let allMods = ''
    let navigation = false
    let aboutUs = false
    let support = false
    let subscribe = false
    let copyrightBar = false
    if (typeof(mods) !== 'undefined' && mods) {
      let modList = mods.split(',')
      for (let i=0; i < modList.length; i++) {
        allMods = allMods + ' footer_' + modList[i].trim()
        }
      }

  footer.footer(class= allMods)
    .footer__login-region
      +logo()
      p.footer__login-text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      if !copyrightBar
        +social({
          socialList: [
            {
              name: 'fa-twitter',
              link: '#'
            },
            {
              name: 'fa-facebook',
              link: '#'
            },
            {
              name: 'fa-instagram',
              link: '#'
            }
          ]
        })