mixin masked-text-field(props = {})

  //- Получает параметры:
  //- mods			string		Модификаторы через запятую
  //- placeholder		stgring		Placeholder
  //- attrs			object		
  //- 	type		string		тип. Если не указан, то text
  //- 	любые атрибуты для Input

  -
    let nameFieldText = ''
    let patternFieldText = ''
    let placeholderFieldText = ''
    let allMods = ''
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      let modList = props.mods.split(',')
      for (let i=0; i < modList.length; i++) {
        allMods = allMods + ' masked-text-field_' + modList[i].trim()
      }
    }

    if ((props.maskType) !== 'undefined' && props.maskType) {
      if (props.maskType === 'date') {
        nameFieldText = 'date'
        pattternFieldText = '[0-9]{2}\.[0-9]{2}\.[0-9]{4}'
      }
    }

  input.masked-text-field(class= allMods,
  placeholder= (typeof(props.placeholder) !== 'undefined' && props.placeholder) ? props.placeholder : '',
  type= (typeof(props.attrs) !== 'undefined' && props.attrs.type) ? props.attrs.type : 'text',
    name= nameFieldText,
    pattern= pattternFieldText
    )&attributes(props.attrs)