extends ../../template/template

block meta
  meta(name="keywords", content="toxin, cards")
  meta(name="description" content="Учебный проект FSD. Второе задание. Лист cards")

block title
  | Cards

block main
  include ../../modules/form-selection/form-selection
  include ../../modules/form-booking/form-booking
  include ../../modules/form-datepicker/form-datepicker

  section.cards-page
    .cards-page__elements-column
      +form-selection()
    .cards-page__elements-column
      +form-booking()
    .cards-page__elements-column
      +form-datepicker()