@import '../common.scss';
@import '../../modules/buttons/buttons.scss';
@import '../../modules/card-room/card-room.scss';
@import '../../modules/date-dropdown/date-dropdown.scss';
@import '../../modules/dropdown/dropdown.scss';
@import '../../modules/form-booking/form-booking.scss';
@import '../../modules/form-datepicker/form-datepicker.scss';
@import '../../modules/form-login/form-login.scss';
@import '../../modules/form-registration/form-registration.scss';
@import '../../modules/form-selection/form-selection.scss';
@import '../../modules/room-details/room-details.scss';
@import '../../modules/rate-button/rate-button';

body {
  background-color: #F4F4F6;
}

.cards-page {
  display: flex;
  justify-content:center;
  margin: 0 auto;
  max-width: 1440px;

  &__elements-column {
    padding: 0 20px 0 20px;
  }

  &__container {
    padding-top: 38px;
  }
}