@import '../common.scss';
@import '../../modules/form-selection/form-selection.scss';
@import '../../modules/form-booking/form-booking.scss';
@import '../../modules/form-datepicker/form-datepicker.scss';
@import '../../modules/form-registration/form-registration.scss';

body {
  background-color: #F4F4F6;
}

.cards-page {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  justify-content:center;

  &__elements-column {
    padding: 0 20px 0 20px;
  }

  &__container {
    padding-top: 38px;
  }
}