extends ../../template/template

block meta
  meta(name="keywords", content="toxin, cards")
  meta(name="description" content="Учебный проект FSD. Второе задание. Лист cards")

block title
  | Cards

block main
  include ../../modules/form-selection/form-selection
  include ../../modules/form-booking/form-booking
  include ../../modules/form-datepicker/form-datepicker
  include ../../modules/form-registration/form-registration
  include ../../modules/form-login/form-login

  section.cards-page
    .cards-page__elements-column
      .cards-page__container
        +form-selection()
      .cards-page__container
        +form-registration()
    .cards-page__elements-column
      .cards-page__container
        +form-booking()
      .cards-page__container
        +form-login()
    .cards-page__elements-column
      .cards-page__container
        +form-datepicker()