.checkbox-list {
    margin: 0;
    padding: 0 15px 0 0;

    width: calc(100% - 15px);
    height: 42px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    user-select: none;

    &__menu {
        padding: 0;
        margin: 0;
        padding-top: 17px;
        width: 100%;
        position: absolute;
        top: 42px;
        left: 0px;
    }

    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__menuRow {
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }
}