@import '../../modules/navigation/navigation';
@import '../../modules/subscription-text-field/subscription-text-field';

.widget {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &__title {
    text-transform: uppercase;
    padding-bottom: 18px;
    margin: 0;

  }

  &__description {
    padding-bottom: 23px;
    color: $DarkShade75;
  }



}